@import './variables';
* {
  box-sizing: border-box;
}




body {
  background-color: $main-bg-color;
  color: $main-fg-color
}

.service {
  margin: 1rem;
  max-width: 250px;
  background-color: #ebebeb;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow:2px 2px 4px #ababab;
  border-radius: 0.5rem;
  cursor: pointer;

  .service-title-1 {
    width: 100%;
    text-align: center;
    color: #7a7a7a8c;
    font-size: 1.4rem;

  }
  .service-title-2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    border-bottom: solid 1px #c2c2c28c;
    margin-bottom: 1rem;
  }
  .service-description {
    color: $light-color;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  img {
    margin-top: 1rem;
    border-radius: 1rem;
  }
}